@import "red-sass";

.ease-in-quad     { prop: $ease-in-quad; }
.ease-out-quad    { prop: $ease-out-quad; }
.ease-in-out-quad { prop: $ease-in-out-quad; }

.ease-in-cubic     { prop: $ease-in-cubic; }
.ease-out-cubic    { prop: $ease-out-cubic; }
.ease-in-out-cubic { prop: $ease-in-out-cubic; }

.ease-in-quart     { prop: $ease-in-quart; }
.ease-out-quart    { prop: $ease-out-quart; }
.ease-in-out-quart { prop: $ease-in-out-quart; }

.ease-in-quint     { prop: $ease-in-quint; }
.ease-out-quint    { prop: $ease-out-quint; }
.ease-in-out-quint { prop: $ease-in-out-quint; }

.ease-in-sine     { prop: $ease-in-sine; }
.ease-out-sine    { prop: $ease-out-sine; }
.ease-in-out-sine { prop: $ease-in-out-sine; }

.ease-in-expo     { prop: $ease-in-expo; }
.ease-out-expo    { prop: $ease-out-expo; }
.ease-in-out-expo { prop: $ease-in-out-expo; }

.ease-in-circ     { prop: $ease-in-circ; }
.ease-out-circ    { prop: $ease-out-circ; }
.ease-in-out-circ { prop: $ease-in-out-circ; }
