@import "red-sass";

.width-under-300px {
	@include width-under(300px) {
		display: block;
	}
}

.width-over-300px {
	@include width-over(300px) {
		display: block;
	}
}

.width-between-300px-500px {
	@include width-between(300px, 500px) {
		display: block;
	}
}

.width-between-500px-300px {
	@include width-between(500px, 300px) {
		display: block;
	}
}

.height-under-300px {
	@include height-under(300px) {
		display: block;
	}
}

.height-over-300px {
	@include height-over(300px) {
		display: block;
	}
}

.height-between-300px-500px {
	@include height-between(300px, 500px) {
		display: block;
	}
}

.height-between-500px-300px {
	@include height-between(500px, 300px) {
		display: block;
	}
}

.phone {
	@include phone {
		display: block;
	}
}

.phone {
	@include phone {
		display: block;
	}
}

.phone-and-tablet {
	@include phone-and-tablet {
		display: block;
	}
}

.tablet-and-phone {
	@include tablet-and-phone {
		display: block;
	}
}

.tablet {
	@include tablet {
		display: block;
	}
}

.tablet-and-desktop {
	@include tablet-and-desktop {
		display: block;
	}
}

.desktop-and-tablet {
	@include desktop-and-tablet {
		display: block;
	}
}

.desktop {
	@include desktop {
		display: block;
	}
}
