.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.helvetica-inline {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; }
.georgia {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }
.georgia-inline {
  font: 16px/1 Georgia, Cambria, "Times New Roman", Times, serif; }
.lucida-grande {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }
.lucida-grande-inline {
  font: 16px/1 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }
.monospace {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }
.monospace-inline {
  font: 16px/1 "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }
.verdana {
  font-family: Verdana, Geneva, sans-serif; }
.verdana-inline {
  font: 16px/1 Verdana, Geneva, sans-serif; }
