@media only screen and (max-width: 300px) {
  .width-under-300px {
    display: block; } }
@media only screen and (min-width: 300px) {
  .width-over-300px {
    display: block; } }
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .width-between-300px-500px {
    display: block; } }
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .width-between-500px-300px {
    display: block; } }
@media only screen and (max-height: 300px) {
  .height-under-300px {
    display: block; } }
@media only screen and (min-height: 300px) {
  .height-over-300px {
    display: block; } }
@media only screen and (min-height: 300px) and (max-height: 500px) {
  .height-between-300px-500px {
    display: block; } }
@media only screen and (min-height: 300px) and (max-height: 500px) {
  .height-between-500px-300px {
    display: block; } }
@media only screen and (max-width: 320px) {
  .phone {
    display: block; } }
@media only screen and (max-width: 320px) {
  .phone {
    display: block; } }
@media only screen and (max-width: 768px) {
  .phone-and-tablet {
    display: block; } }
@media only screen and (max-width: 768px) {
  .tablet-and-phone {
    display: block; } }
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .tablet {
    display: block; } }
@media only screen and (min-width: 321px) {
  .tablet-and-desktop {
    display: block; } }
@media only screen and (min-width: 321px) {
  .desktop-and-tablet {
    display: block; } }
@media only screen and (min-width: 769px) {
  .desktop {
    display: block; } }
